@font-face{
	font-family: 'NuniBI'; 
	src: url('../fonts/NunitoSans-BlackItalic.ttf');
}

@font-face{
	font-family: 'NuniLI'; 
	src: url('../fonts/NunitoSans-LightItalic.ttf');
}

/*generalite*/
.folder{ 
  cursor: pointer;
}

body{
	margin: 0px; 
	font-family: 'NuniLI';
	font-size: 1.5em;  
}
ul li {
    list-style: none;
}
header{
	height: 120px; 
	background-color: #d72222; 
}

footer img{
	width: 100px; 
	height: 100px; 
}

footer{ 
	background-color: rgba(255, 0, 0, 0.1); 
	padding-top: 20px; 
}

.titre{
	width: 50%; 
	padding-top: 20px; 
}

.logo{
	width: 50%; 
}

.crea{
	display: flex;
	align-items: center;
	font-family: 'NuniBI'; 
	font-size: 1.5em; 
}

main{
	padding-top: 40px; 
	padding-bottom: 40px; 
}

.merci{
	padding-top: 20px; 
}